<h1> Your Purchased Items: </h1>

<% @cart['items'].each do |item|%>
    <br>  <%= item['name'] %> &nbsp; <%=  item['price'] %>
<%end%>
<h2> Total Price :  </h2>
<%= @cart['total_price'] %>

<p>
  <%= link_to 'Checkout',  checkout_path %>
</p>


