
<h4> Your Purchased Items: </h4>

<table class="responsive-table highlight">
  <thead>
  <tr>
    &nbsp;
    <th data-field="name">Item Name</th>
    <th data-field="price">Item Price</th>
  </tr>
  </thead>

  <tbody>
  <% @cart['items'].each do |item| %>
      <tr>
        &nbsp;
        <td> <%= item['name'] %> </td>
        <td> <%= item['price'] %> </td>
      </tr>
  <% end %>
  </tbody>
</table>

&nbsp; <h6><b>   &nbsp;  Total Price : <%= @cart['total_price'] %> </b></h6>


<p>
 &nbsp;  <%= link_to 'Checkout', checkout_path, :class=> 'waves-effect waves-light btn', :id => 'checkout' %>
</p>
