<h5>Payment Preference</h5>

<%= form_tag('/items/save_payment_pref', method: 'post') do %>
    <p>
      &nbsp;
      <input name="payment" type="radio" id="cash" value="CASH" checked="checked"/>
      <label for="cash"> Cash on delivery</label>
    </p>

    <p>
      &nbsp;
      <input name="payment" type="radio" id="credit" value="CREDIT"/>
      <label for="credit"> By Credit Card</label>
    </p>

    &nbsp;
    <%= submit_tag('Proceed', :id=> 'proceed', :class=> 'btn waves-effect waves-light', :name=> 'submit') %>
<% end %>

