<h1>Food Description</h1>

<p>
<h2>Food:</h2>
<%= @item['name'] %>
</p>

<p>
<h2>Description:</h2>

</p>

<p><%= @item['price'] %></p>

<p>
   <%= link_to 'Add To Cart', add_path(@item['name']) %>
</p>



