
<h5>Food Details</h5>

<div class="row">
  <div class="col s12" center-align ><b><%= @item['name'] %> </b></div>
  <div class="col s12" ><b> &nbsp; </b></div>
  <div class="col s12 container">Contains, Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum Lorel Epsum </div>
  <div class="col s12" ><b> &nbsp; </b></div>
  <div class="col s6"> <b>Price:  Rs.<%= @item['price'] %> </b></div>
</div>

<p>
   <%= link_to 'Add To Cart', add_path(@item['name']), :id => 'add_to_cart', :class=> 'waves-effect waves-light btn' %>
</p>



